<template>
  <div class="min-h-screen flex items-center justify-center bg-gray-200">
    <div class="max-w-md w-full p-8 bg-white rounded-lg shadow-md">
      <h2 class="text-2xl font-bold text-center mb-4">Login</h2>
      <form @submit.prevent="handleSubmit">
        <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email Address</label>
          <input v-model="email" type="email" id="email" name="email"
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" required>
        </div>
        <div class="mb-6">
          <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
          <input v-model="password" type="password" id="password" name="password"
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" required>
        </div>
        <div class="text-center">
          <button type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Login</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { login } from '../login.js';

export default {
  data() {
    return {
      email: '',
      password: ''
    };
  },
  methods: {
    async handleSubmit() {
      try {
        const response  = await login(this.email, this.password);
        const token = response.data.token;
        console.log('Login successful:', token);

        if (token) {
         // Save token to localStorage
         localStorage.setItem('token', token);
          
          // Redirect to the dashboard page
          this.$router.push('/dashboard');
        } else {
          // Handle invalid login response
          console.error('Invalid login response:', data);
          alert('Invalid login response');
        }
      } catch (error) {
        console.error('Login error:', error);
        alert('Login error: ' + error.message);
      }
    }
  }
};
</script>

<style>
/* Add styles */
</style>
