<template>
  <div class="min-h-screen flex flex-col">
    <NavBar />
    <h2 class="text-2xl font-bold text-center mt-8">Task Create</h2>
    <div class="mt-10">
      <TaskForm />
    </div>
  </div>
</template>

<script>
import NavBar from '../components/NavBar.vue';
import TaskForm from '../components/TaskForm.vue';

export default {
  components: {
    NavBar,
    TaskForm
  }
};
</script>

<style>
/* Add any custom styles */
</style>
