<template>
  <div class="min-h-screen flex flex-col">
    <NavBar />
    <h2 class="text-2xl font-bold text-center mt-8">Task List</h2>
    <task-sort-filter :tasks="state.tasks" @update="sortFilterTasks"></task-sort-filter>
    <div class="task-list">
      <div v-if="paginatedTasks.length === 0">
        <p>No tasks found.</p>
      </div>
      <div v-else>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <div v-for="task in paginatedTasks" :key="task.id" @click="showModal(task)" class="cursor-pointer">
            <div class="task-card">
              <div class="border-l-4 border-blue-500 bg-white shadow-md rounded-lg p-4 flex flex-col justify-between">
                <div>
                  <h2 class="text-xl font-semibold mb-2">{{ task.title }}</h2>
                  <p class="text-gray-600 mb-2"><strong> Date:</strong> &nbsp; {{ task.dueDate }}</p>
                  <p class="text-gray-600 mb-2"><strong>Priority:</strong> &nbsp; {{ task.priority }}</p>
                  <p class="text-gray-600 mb-2"><strong>Description:</strong> &nbsp; {{ task.description }}</p>
                  <p class="text-gray-600 mb-2"><strong>Status:</strong> &nbsp; {{ task.status }}</p>
                  <div class="mb-2">
                    <p class="text-gray-600 mb-1"><strong>Attachments:</strong> </p>
                    <ul>
                      <li v-for="(attachment, index) in task.attachments" :key="index">
                        <a :href="attachment.file_path" target="_blank" class="text-blue-500">{{ attachment.file_name
                          }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <!-- Card Footer with Archive and Mark as Complete Buttons -->
                  <div class="flex justify-end mt-4">
                    <button v-if="task.status === 'Archived'" @click.stop="restoreTaskFunc(task)"
                      class="bg-red-500 text-white px-4 py-2 rounded mr-2">Restore</button>
                    <button v-else-if="task.status === 'Restore'" @click.stop="archiveTaskFunc(task)"
                      class="bg-blue-500 text-white px-4 py-2 rounded mr-2">Archive</button>
                    <button v-else-if="task.status === 'Complete'" @click.stop="markAsTodo(task)"
                      class="bg-yellow-500 text-white px-4 py-2 rounded mr-2">Mark as InComplete</button>
                    <button v-else @click.stop="markAsComplete(task)"
                      class="bg-green-500 text-white px-4 py-2 rounded mr-2">Mark as Complete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 flex justify-center">
          <button @click="prevPage" :disabled="state.currentPage === 1"
            class="bg-gray-200 text-gray-700 px-4 py-2 rounded mr-2">Previous</button>
          <span>Page {{ state.currentPage }} of {{ state.totalPages }}</span>
          <button @click="nextPage" :disabled="state.currentPage === state.totalPages"
            class="bg-gray-200 text-gray-700 px-4 py-2 rounded ml-2">Next</button>
        </div>
      </div>
    </div>
    <!-- Task Details Modal -->
    <Modal v-if="state.isModalOpen" :task="state.selectedTask" @update="editTask" @delete="deleteTask"
      @close="closeModal" />

  </div>
</template>

<script>
import NavBar from '../components/NavBar.vue';
import Modal from '../components/TaskModal.vue';
import TaskSortFilter from '../components/TaskSortFilter.vue';
import { reactive, computed } from 'vue';
import { getTasks, updatedTask, deletedTask, archiveTask, restoreTask, markAsCompleted, markAsIncomplete, sortTasks, filterTasks } from '../task';

export default {
  components: {
    NavBar,
    Modal,
    TaskSortFilter
  },
  setup() {
    const state = reactive({
      tasks: [],
      currentPage: 1,
      pageSize: 6,
      totalPages: 0,
      selectedTask: null
    });

    const paginatedTasks = computed(() => {
      const startIndex = (state.currentPage - 1) * state.pageSize;
      const endIndex = startIndex + state.pageSize;
      return state.tasks.slice(startIndex, endIndex);
    });

    const prevPage = () => {
      if (state.currentPage > 1) {
        state.currentPage--;
      }
    };

    const nextPage = () => {
      if (state.currentPage < state.totalPages) {
        state.currentPage++;
      }
    };

    const showModal = (task) => {
      state.selectedTask = task;
      state.isModalOpen = true;
    };

    const closeModal = () => {
      state.selectedTask = null;
      state.isModalOpen = false;
    };

    const markAsComplete = async (task) => {
      try {
        await markAsCompleted(task.id);
        // Optionally update the UI or state after marking as complete
      } catch (error) {
        console.error("Error marking task as complete:", error.message);
      }
    };

    const markAsTodo = async (task) => {
      try {
        await markAsIncomplete(task.id);
        // Optionally update the UI or state after marking as incomplete
      } catch (error) {
        console.error("Error marking task as todo:", error.message);
      }
    };

    const archiveTaskFunc = async (task) => {
      try {
        await archiveTask(task.id);
        // Optionally update the UI or state after archiving task
      } catch (error) {
        console.error("Error archiving task:", error.message);
      }
    };

    const restoreTaskFunc = async (task) => {
      try {
        await restoreTask(task.id);
        // Optionally update the UI or state after restoring task
      } catch (error) {
        console.error("Error restoring task:", error.message);
      }
    };

    const editTask = async (updateTask) => {
      try {
        const response = await updatedTask(updateTask.id, updateTask);
        if (response.success) {
         // Optionally update the UI or state after deleting task
         console.log(response.message);
          closeModal(); // Close modal after successful deletion
          window.location.reload();
        } else {
          console.error(response.message);
        }
      } catch (error) {
        console.error("Error updating task:", error.message);
      }
    };

    const deleteTask = async () => {
      try {
        const response = await deletedTask(state.selectedTask.id);
        if (response.success) {
          // Optionally update the UI or state after deleting task
          console.log(response.message);
          closeModal(); // Close modal after successful deletion
          window.location.reload();
        } else {
          console.error(response.message);
        }
      } catch (error) {
        console.error("Error deleting task:", error.message);
      }
    };

    const fetchTasks = async () => {
      try {
        const response = await getTasks();
        if (response.success) {
          state.tasks = response.data.map(task => ({
            id: task.id,
            title: task.title,
            description: task.description,
            dueDate: task.due_date, // Adjust property names
            priority: task.priority,
            status: task.status,
            attachments: task.attachments // Assuming attachments are an array of objects with `file_name` and `file_path` properties
          }));
          state.totalPages = Math.ceil(state.tasks.length / state.pageSize);
        } else {
          console.error('Error retrieving tasks:', response.message);
        }
      } catch (error) {
        console.error('Error fetching tasks:', error.message);
      }
    };

    const sortFilterTasks = async ({ sortBy, sortOrder, filterCriteria }) => {
      state.sortBy = sortBy;
      state.sortOrder = sortOrder;
      state.filterCriteria = filterCriteria;
      await applySortingAndFiltering();
    };

    const applySortingAndFiltering = async () => {
      try {
        let tasks = await fetchTasks();

        // Sort tasks
        tasks = sortTasks(state.sortBy, state.sortOrder);

        // Filter tasks
        if (state.filterCriteria) {
          tasks = await filterTasks(state.filterCriteria);
        }

        state.tasks = tasks;
        state.totalPages = Math.ceil(state.tasks.length / state.pageSize);
      } catch (error) {
        console.error('Error applying sorting and filtering:', error.message);
      }
    };

    fetchTasks();

    return {
      state,
      paginatedTasks,
      prevPage,
      nextPage,
      showModal,
      closeModal,
      markAsComplete,
      markAsTodo,
      archiveTaskFunc,
      restoreTaskFunc,
      editTask,
      deleteTask,
      sortFilterTasks
    };
  }
};
</script>
