<template>
  <div v-if="task" class="modal" @click.self="$emit('close')">
    <div class="modal-content" @click.stop>
      <h2 class="text-2xl font-semibold">Edit Task</h2>
      <div class="input-field">
        <label class="block text-gray-700 font-bold mb-2">Title:</label>
        <input v-model="editedTask.title" type="text" class="border rounded-md px-4 py-2 w-full">
      </div>
      <div class="input-field">
        <label class="block text-gray-700 font-bold mb-2">Description:</label>
        <textarea v-model="editedTask.description" class="border rounded-md px-4 py-2 w-full"></textarea>
      </div>
      <div class="input-field">
        <label class="block text-gray-700 font-bold mb-2">Due Date:</label>
        <input v-model="editedTask.dueDate" type="date" class="border rounded-md px-4 py-2 w-full">
      </div>
      <div class="input-field">
        <label class="block text-gray-700 font-bold mb-2">Priority:</label>
        <select v-model="editedTask.priority" class="border rounded-md px-4 py-2 w-full">
          <option value="Urgent">Urgent</option>
          <option value="High">High</option>
          <option value="Normal">Normal</option>
          <option value="Low">Low</option>
        </select>
      </div>
      <div class="flex justify-end">
        <button @click="updateTask" class="bg-blue-500 text-white px-4 py-2 rounded mr-2">Update</button>
        <button @click="deleteTask" class="bg-red-500 text-white px-4 py-2 rounded">Delete</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      editedTask: { ...this.task }
    };
  },
  methods: {
    updateTask() {
      this.$emit('update', this.editedTask);
    },
    deleteTask() {
      this.$emit('delete');
    }
  }
};
</script>

<style scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
}

.input-field {
  margin-bottom: 1.5rem;
}
</style>
