<template>
  <div class="flex-1 flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-lg p-8 max-w-md w-full">
      <form @submit.prevent="createTask">
        <div class="mb-4">
          <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
          <input id="title" type="text" v-model="formData.title" required class="mt-1 p-2 border rounded-md w-full">
          <span v-if="errors.title" class="text-red-500 text-sm">{{ errors.title }}</span>
        </div>
        <div class="mb-4">
          <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
          <textarea id="description" v-model="formData.description" required class="mt-1 p-2 border rounded-md w-full"></textarea>
          <span v-if="errors.description" class="text-red-500 text-sm">{{ errors.description }}</span>
        </div>
        <div class="mb-4">
          <label for="due_date" class="block text-sm font-medium text-gray-700">Due Date</label>
          <input id="due_date" type="date" v-model="formData.due_date" class="mt-1 p-2 border rounded-md w-full">
        </div>
        <div class="mb-4">
          <label for="priority" class="block text-sm font-medium text-gray-700">Priority</label>
          <select id="priority" v-model="formData.priority" class="mt-1 p-2 border rounded-md w-full">
            <option value="">Select Priority</option>
            <option value="Urgent">Urgent</option>
            <option value="High">High</option>
            <option value="Normal">Normal</option>
            <option value="Low">Low</option>
          </select>
        </div>
        <!-- Add fields for tags and attachments as needed -->
        <div class="flex justify-end">
          <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded">Create Task</button>
        </div>
      </form>
      <span v-if="successMessage" class="text-green-500 text-sm">{{ successMessage }}</span>
      <span v-if="errorMessage" class="text-red-500 text-sm">{{ errorMessage }}</span>
    </div>
  </div>
</template>

<script>
import { createTask } from '../task.js';

export default {
  data() {
    return {
      formData: {
        title: '',
        description: '',
        due_date: '',
        priority: '',
        // Add more fields for tags and attachments
      },
      errors: {},
      successMessage: '',
      errorMessage: ''
    };
  },
  methods: {
    async createTask() {
      try {
        // Perform client-side validation
        this.errors = {};
        if (!this.formData.title) {
          this.errors.title = 'Title is required';
        }
        if (!this.formData.description) {
          this.errors.description = 'Description is required';
        }

        if (Object.keys(this.errors).length === 0) {
          // Send request to create task
          const response = await createTask(this.formData);
          if (response.success) {
            this.successMessage = 'Task created successfully';
            // Reset form data
            this.formData = {
              title: '',
              description: '',
              dueDate: '',
              priority: '',
            };

            this.$router.push('/dashboard');
          } else {
            this.errorMessage = response.message || 'Failed to create task';
          }
        }
      } catch (error) {
        console.error('Error creating task:', error);
        this.errorMessage = 'Failed to create task';
      }
    }
  }
};
</script>

<style>
/* Add any custom styles */
</style>
