<template>
  <div class="flex flex-col items-center mt-4">
    <div class="mr-10 flex text-center">
      <label for="sortBy">Sort By:</label>
      <select v-model="state.sortBy" @change="applySorting">
        <option value="title">Title</option>
        <option value="due_date">Due Date</option>
        <option value="priority">Priority</option>
        <option value="description">Description</option>
      </select>

      <label for="sortOrder">Sort Order:</label>
      <select v-model="state.sortOrder" @change="applySorting">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>

      <label for="filterCriteria">Filter By:</label>
      <select v-model="state.filterCriteria" @change="applyFiltering">
        <option value="">All</option>
        <option value="Low">Low</option>
        <option value="Normal">Normal</option>
        <option value="High">High</option>
        <option value="urgent">Urgent</option>
      </select>
    </div>
  </div>
</template>

<script>
import { reactive } from 'vue';

export default {
  emits: ['update'],
  setup(_, { emit }) {
    const state = reactive({
      sortBy: 'title',
      sortOrder: 'asc',
      filterCriteria: ''
    });

    const applySorting = () => {
      emit('update', {
        sortBy: state.sortBy,
        sortOrder: state.sortOrder,
        filterCriteria: state.filterCriteria
      });
    };

    const applyFiltering = () => {
      emit('update', {
        sortBy: state.sortBy,
        sortOrder: state.sortOrder,
        filterCriteria: state.filterCriteria
      });
    };

    return {
      state,
      applySorting,
      applyFiltering
    };
  }
};
</script>

<style scoped>
/* Add your component-specific styles here */
</style>
